<!-- Controls homepage and display of posts -->

{{!< default}}
{{> header}}
{{navigation}}
<main class="gs-content-wrapper container">
{{#foreach posts}}
<!-- WITH IMAGE -->
    <article class="gs-post-container col-md-12" role="article" itemscope itemtype="http://schema.org/Article">
      {{#if image}}
            <div class="gs-post-image col-md-6">
              <a href="{{{url}}}" class="thumbnail">
                  <img src="{{{image}}}" />
              </a>
            </div>

            <div class="col-md-6 gs-post-content">
                  <header class="gs-post-header">
                      <h1 class="gs-post-title" itemprop="headline"> <a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
                      <h3 class="gs-post-info"> {{author.name}} | <time class="gs-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format=' MMM YYYY'}}</time></h3>
                  </header>
                  <div class="gs-post-text" itemprop="articleBody">
                      {{excerpt}}
                  </div>
            </div>

      {{else}}
      <!-- WITHOUT IMAGE -->
      <div class="col-md-12 gs-post-content ">
            <header class="gs-post-header">
                <h1 class="gs-post-title" itemprop="headline"> <a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
                <h3 class="gs-post-info"> {{author.name}} | <time class="gs-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format=' MMM YYYY'}}</time></h3>
            </header>
            <div class="gs-post-text" itemprop="articleBody">
            {{excerpt}}
            </div>
      </div>





{{/if}}

<div class="col-md-12 gs-read-more">
    <a class="pull-right"; href="{{{url}}}" title="{{title}}" class="gs-read-more"><button type="button" class="btn btn-default gs-read-more-button">Read more</button></a>
</div>

{{#if tags}}
    <div class="gs-post-tags col-md-12">
  {{tags separator=" | "}}
    </div>
{{/if}}


    </article>
{{/foreach}}

{{#if pagination}}
{{{pagination}}}
{{/if}}




</main>
